---
layout: default
---

<header>
  <!-- <h1>{{ site.title | escape }}</h1> -->
</header>

<main>

{{ content }}

<hr />

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Writing" }}</h2>
    <ul class="more-space">
      <li> <a class="post-link" href="https://files.kyber.network/DMM-Feb21.pdf">Dynamic Market Maker - A New Line Of Research For AMMs (Whitepaper)</a> </li>
      {%- for post in site.posts limit:10 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</main>